html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
