$typography-weight-thin: 100;
$typography-weight-extra-light: 200;
$typography-weight-light: 300;
$typography-weight-regular: 400;
$typography-weight-medium: 500;
$typography-weight-semi-bold: 600;
$typography-weight-bold: 700;
$typography-weight-extra-bold: 700;
$typography-weight-black: 900;
