@import 'style/variable/color';
@import 'style/variable/metric';
@import 'style/mixin/full-size';

.Loader {
  @include full-size;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__background {
    @include full-size;
    background-color: $color-gray-20;
    z-index: 100;
  }

  &__card {
    width: $metric-spacing * 60;
    z-index: 200;
    position: relative;
  }

  &__card-media {
    height: $metric-spacing * 25;
    background-image: url('image/wwii-online-logo--medium.png');
    background-size: $metric-spacing * 50 !important;
  }

  &__card-content {
    text-align: center;
    padding-bottom: $metric-spacing * 6 !important;
  }
}
